.wrapper {
    margin: auto;
    margin-top: 30px;
    border: 1px solid gray;
    justify-content: center;
}

.wrapper__heading {
    text-align: center;
}
input {
    margin-top: 15px;
    margin-left: 10px;
}
button {
    margin : 15px;
}
